#!/usr/bin/make -f

include debian/scripts/vars

# Members list of Debian GNOME Maintainers
TEAM_LIST ?= /usr/share/gnome-pkg-tools/pkg-gnome.team

# Remove maintainer from uploaders list
maintainer := $(shell sed -n 's/^Maintainer: //p' debian/control.in)
uploaders := $(shell grep -vF '$(maintainer)' $(TEAM_LIST))

# relative path to the top directory of the unpacked tarball
TOP_SRC_DIR := $(SOURCE_DIR)/$(TAR_DIR)

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

DEBVERSION := $(shell dpkg-parsechangelog | sed -n -e 's/^Version: //p')
VERSION := $(shell echo $(DEBVERSION) | sed -e 's/-[^-]*$$//')
APIVER := 2.0
SONAME := 0
SHVER := 2.10.3

# earliest version that this release has backwards binary compatibility for
GTK_BINARY_VERSION := 2.10.0

# Gtk binary version virtual Provide
GTK_BINVER_DEP := gtk$(APIVER)-binver-$(GTK_BINARY_VERSION)

# package names
SHARED_PKG := libgtk$(APIVER)-$(SONAME)
COMMON_PKG := libgtk$(APIVER)-common
DEV_PKG := libgtk$(APIVER)-dev
DIRECTFB_PKG := libgtk-directfb-$(APIVER)-$(SONAME)
DIRECTFB_DEV_PKG := libgtk-directfb-$(APIVER)-dev
UDEB_PKG := $(DIRECTFB_PKG)-udeb
DOC_PKG := libgtk$(APIVER)-doc
BIN_PKG := libgtk$(APIVER)-bin
DEBUG_PKG := $(SHARED_PKG)-dbg
EXAMPLES_PKG := gtk$(APIVER)-examples
PIXBUF_PKG := gtk2-engines-pixbuf

# package groups, used in rule dependencies and in cleanup
BINARY_INDEP_PKGS := $(COMMON_PKG) $(BIN_PKG) $(DOC_PKG)
BINARY_ARCH_PKGS := $(SHARED_PKG) $(DIRECTFB_PKG) $(UDEB_PKG) $(DEV_PKG) $(DIRECTFB_DEV_PKG) $(DEBUG_PKG) $(EXAMPLES_PKG) $(PIXBUF_PKG)
ALL_PKGS := $(BINARY_INDEP_PKGS) $(BINARY_ARCH_PKGS)

# list of flavors we build; each gets a builddir, a configure pass (configure
# args are defined below), a build pass, and an install pass (in two steps)
# Note: the shared flavor is required
FLAVORS := directfb shared static

# build dir for the current flavor; this is only expanded in flavor specific
# targets
# Note: dh_clean will rm -rf debian/tmp, hence all builds
builddir = $(buildbasedir)/$*
buildbasedir = $(CURDIR)/debian/tmp/build

# install dir for the current flavor; this is only expanded in flavor specific
# targets
# Note: dh_clean will rm -rf debian/tmp, hence all installs
installdir = $(installbasedir)/$*
installbasedir = $(CURDIR)/debian/tmp/install

# relative base directory for all types of modules
MODULES_BASE_PATH := usr/lib/gtk-$(APIVER)/$(GTK_BINARY_VERSION)

# relative directory to store the generated IM module files
IMMODULE_FILES_D := $(MODULES_BASE_PATH)/immodule-files.d

# relative directory to store the generated GdkPixbuf loader files
LOADER_FILES_D := $(MODULES_BASE_PATH)/loader-files.d

# configure flags
common_configure_flags := \
			--prefix=/usr \
			--mandir=\$${prefix}/share/man \
			--infodir=\$${prefix}/share/info \
			--sysconfdir=/etc \
			--with-html-dir=\$${prefix}/share/doc/$(DOC_PKG) \
			--enable-explicit-deps=yes
ifeq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
	common_configure_flags += --build=$(DEB_BUILD_GNU_TYPE)
else
	common_configure_flags += --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif
shared_configure_flags := $(common_configure_flags) \
			--with-xinput=yes \
			--enable-shared \
			--disable-static
static_configure_flags := $(common_configure_flags) \
			--with-xinput=yes \
			--with-included-loaders=yes \
			--disable-modules \
			--disable-shared \
			--enable-static
directfb_configure_flags := $(common_configure_flags) \
			--with-xinput=no \
			--enable-shared \
			--disable-static \
			--with-gdktarget=directfb

# macro computing the list of 'debian/<pkg>.*" files which have a corresponding
# ".in" file; pass the list of packages in $(1)
dh_subst_files = $(patsubst %.in,%,$(wildcard $(addprefix debian/, $(addsuffix *.in, $(1)))))

debian/dh_gtkmodules.1: debian/dh_gtkmodules
	cd debian && pod2man -c "Gtk" -r "$(DEBVERSION)" dh_gtkmodules dh_gtkmodules.1

extract: $(STAMP_DIR)/extract-stamp

$(STAMP_DIR)/extract-stamp:
	dh_testdir
	$(MAKE) -f debian/sys-build.mk source.make
	-test -r /usr/share/misc/config.sub && \
		cp -f /usr/share/misc/config.sub $(TOP_SRC_DIR)/config.sub
	-test -r /usr/share/misc/config.guess && \
		cp -f /usr/share/misc/config.guess $(TOP_SRC_DIR)/config.guess
	touch $@

$(STAMP_DIR)/configure-stamp-%: $(STAMP_DIR)/extract-stamp
	dh_testdir
	mkdir -p $(builddir)
	cd $(builddir) && \
		$(CURDIR)/$(TOP_SRC_DIR)/configure $($*_configure_flags)
	cd $(builddir) && \
		sed < libtool > libtool-2 \
			-e 's/^hardcode_libdir_flag_spec.*$$/hardcode_libdir_flag_spec=" -D__LIBTOOL_IS_A_FOOL__ "/' \
			-e '/^archive_cmds="/s/"$$/ \\$$deplibs"/' && \
		mv libtool-2 libtool
	touch $@

configure: $(addprefix $(STAMP_DIR)/configure-stamp-, $(FLAVORS))

$(STAMP_DIR)/build-stamp-%: $(STAMP_DIR)/configure-stamp-%
	dh_testdir
	LD_LIBRARY_PATH=$(builddir)/gdk-pixbuf/.libs:$(builddir)/gtk/.libs:$(builddir)/gdk/.libs:$(LD_LIBRARY_PATH) \
		$(MAKE) -C $(builddir)
	touch $@

build: $(addprefix $(STAMP_DIR)/build-stamp-, $(FLAVORS))

$(STAMP_DIR)/install-stamp-%: $(STAMP_DIR)/build-stamp-%
	mkdir -p $(installdir)
	$(MAKE) -C $(builddir) install \
		DESTDIR=$(installdir)
	touch $@

install: $(addprefix $(STAMP_DIR)/install-stamp-, $(FLAVORS))

debian/%: debian/%.in force
	dh_testdir
	sed \
		-e "s#@SONAME@#$(SONAME)#g" \
		-e "s#@APIVER@#$(APIVER)#g" \
		-e "s#@VERSION@#$(VERSION)#g" \
		-e "s#@TOP_SRC_DIR@#$(TOP_SRC_DIR)#g" \
		-e "s#@GTK_BINVER_DEP@#$(GTK_BINVER_DEP)#g" \
		-e "s#@SHARED_PKG@#$(SHARED_PKG)#g" \
		-e "s#@COMMON_PKG@#$(COMMON_PKG)#g" \
		-e "s#@DEV_PKG@#$(DEV_PKG)#g" \
		-e "s#@DIRECTFB_PKG@#$(DIRECTFB_PKG)#g" \
		-e "s#@DIRECTFB_DEV_PKG@#$(DIRECTFB_DEV_PKG)#g" \
		-e "s#@UDEB_PKG@#$(UDEB_PKG)#g" \
		-e "s#@DOC_PKG@#$(DOC_PKG)#g" \
		-e "s#@BIN_PKG@#$(BIN_PKG)#g" \
		-e "s#@DEBUG_PKG@#$(DEBUG_PKG)#g" \
		-e "s#@EXAMPLES_PKG@#$(EXAMPLES_PKG)#g" \
		-e "s#@PIXBUF_PKG@#$(PIXBUF_PKG)#g" \
		-e "s#@GNOME_TEAM@#$(uploaders)#g" \
		-e "s#@GTK_BINARY_VERSION@#$(GTK_BINARY_VERSION)#g" \
		-e "s#@MODULES_BASE_PATH@#$(MODULES_BASE_PATH)#g" \
		$@.in > $@

clean: debian/control
	dh_testdir
	dh_testroot
	-rm -rf $(STAMP_DIR)
	-rm -f $(call dh_subst_files,$(ALL_PKGS))
	-rm -f debian/update-gdkpixbuf-loaders debian/update-gtk-immodules debian/dh_gtkmodules debian/dh_gtkmodules.1
	$(MAKE) -f debian/sys-build.mk source.clean
	dh_clean

binary-indep: build install $(call dh_subst_files,$(BINARY_INDEP_PKGS))
	dh_testdir
	dh_testroot
	dh_install -i
	dh_installchangelogs -i -N$(BIN_PKG) $(TOP_SRC_DIR)/ChangeLog $(TOP_SRC_DIR)/ChangeLog.*
	dh_installdocs -i -N$(BIN_PKG) $(TOP_SRC_DIR)/NEWS $(TOP_SRC_DIR)/NEWS.pre-1-0 $(TOP_SRC_DIR)/README
	dh_installman -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: build install $(call dh_subst_files,$(BINARY_ARCH_PKGS)) debian/update-gdkpixbuf-loaders debian/update-gtk-immodules debian/dh_gtkmodules debian/dh_gtkmodules.1
	dh_testdir -a
	dh_testroot -a
	dh_install -a
	# empty the dependency_libs in the *.la files
	sed -i "/dependency_libs/ s/'.*'/''/" debian/$(DEV_PKG)/usr/lib/*.la
	# we don't need the rpath in the udeb
	chrpath -d debian/$(UDEB_PKG)/usr/lib/*directfb*.so.*
	# fix permissions of binaries below /usr/lib/$(SHARED_PKG)
	for f in update-gdkpixbuf-loaders update-gtk-immodules; do \
	    chmod 755 debian/$(SHARED_PKG)/usr/lib/$(SHARED_PKG)/$$f; \
	done
	dh_installchangelogs -p$(EXAMPLES_PKG) -p$(PIXBUF_PKG) $(TOP_SRC_DIR)/ChangeLog $(TOP_SRC_DIR)/ChangeLog.*
	dh_installdocs -p$(EXAMPLES_PKG) -p$(PIXBUF_PKG) $(TOP_SRC_DIR)/NEWS $(TOP_SRC_DIR)/NEWS.pre-1-0 $(TOP_SRC_DIR)/README
	# fix the permissions of the development package because it ships
	# dh_gtkmodules which we need to invoke in this build
	dh_fixperms -p$(DEV_PKG)
	# generate a dependency on the Gtk binary version
	debian/$(DEV_PKG)/usr/bin/dh_gtkmodules -p$(PIXBUF_PKG)
	# generate an IM module file and a GdkPixbuf loader file for the shared
	# library
	LD_LIBRARY_PATH=debian/$(SHARED_PKG)/usr/lib:$(LD_LIBRARY_PATH) \
	GTK_QUERYLOADERS=$(installbasedir)/shared/usr/bin/gdk-pixbuf-query-loaders \
	GTK_QUERYIMMODULES=$(installbasedir)/shared/usr/bin/gtk-query-immodules-2.0 \
		debian/$(DEV_PKG)/usr/bin/dh_gtkmodules \
			-p$(SHARED_PKG)
	# generate a GdkPixbuf loader config file for the udeb
	LD_LIBRARY_PATH=debian/$(UDEB_PKG)/usr/lib:$(LD_LIBRARY_PATH) \
	GTK_QUERYLOADERS=$(installbasedir)/directfb/usr/bin/gdk-pixbuf-query-loaders \
		debian/$(DEV_PKG)/usr/bin/dh_gtkmodules \
			-p$(UDEB_PKG)
	dh_installexamples -a
	dh_link -a
	dh_strip -a --dbg-package=$(DEBUG_PKG)
	dh_compress -a
	dh_fixperms -a -Xusr/lib/$(SHARED_PKG)
	dh_makeshlibs -p$(SHARED_PKG)\
		-X$(MODULES_BASE_PATH) \
		-V"$(SHARED_PKG) (>= $(SHVER))" \
		--add-udeb=$(UDEB_PKG)
	dh_makeshlibs -p$(DIRECTFB_PKG) \
		-X$(MODULES_BASE_PATH) \
		-V"$(DIRECTFB_PKG) (>= $(SHVER))" \
		--add-udeb=$(UDEB_PKG)
	dh_installdeb -a
	# override shlibs for libraries from this source before computing
	# dependencies of packages generated from this source; we already have
	# inter-dependencies expressed manually in the control file, we do not
	# need the shlibs to add duplicates
	cat debian/*/DEBIAN/shlibs | \
		sed -n -r -e 's/(([^ ]+: )?([^ ]+) ([^ ]+)) .*/\1/p' \
			> debian/shlibs.local
	dh_shlibdeps -a
	-rm -f debian/shlibs.local
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

force:

binary: binary-indep binary-arch
.PHONY: extract configure build install clean binary-indep binary-arch force binary
